body{
	margin-left: 30%;
	margin-right: 30%;
	background-color: #090909;
	color: #ea7200;
}
header{
	display: flex;
	flex-flow: column nowrap;
}
footer{
	text-align: center;
}
a{
	color: #0066cc;
}
.social{
	position: relative;
	top: 10px;
}
.card{
	background-color: #232323;
	padding: 1rem;
}
.card img{
	
	max-width: 100%;
}