html{
	font-family: 'Times New Roman', 'Times', 'serif';
}
body{
	margin: 0;
	background-color: #030303;
}
#container{
	width: 36rem;
	margin: auto;
	background-color: #131313;
	color: #ea7200;
	padding: 1rem;
	outline: 2px solid;
}
header{
	display: flex;
	flex-flow: column nowrap;
}
ul{
	padding: 0;
}
li{
	list-style: none;
}
li > img{
	padding-right: 5px;
}
main{
	font-family: 'Noto Serif JP', 'serif';
}
footer{
	padding-top: 1rem;
	text-align: center;
}
a{
	color: #0066cc;
}
.social{
	position: relative;
	top: 5px;
}
#move{
	position: relative;
	left: 5px;
}
.card{
	background-color: #232323;
	padding: 1rem;
}
.card img{
	background-color: #131313;
	max-width: 100%;
}
header > img{
	border-radius: 50%;
}